body{
 	background-image: url('bg4.jpg');
    background-repeat: no-repeat;
 	margin: 0 auto;
	position: center;
	height: 960px;
	width: 750px;
}
 
.clearfix:after {
    display:block;
    clear:both;
}


.p{
	text-indent: 25mm;
	text-align: center;
	margin-left: 5px;
        
}
 

.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
}
 
.menu {
    width:1000px;
    margin: 0px auto;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}
 
.menu a {
    transition:all linear 0.15s;
    color:#000000;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#6EB7FF;
}
 
.menu .arrow {
    font-size:10px;
    line-height:0%;
}
 

.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:5px 20px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#E5E5FF;
}
 
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#E5E5FF;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#E5E5FF;
}

.video{
		
	}
#img_footer{
		margin-top: 2%;
	}
	footer{
		font-family: serif;
		text-align: center;
		color: black;
		font-size: 18px;
		padding: 7px;

	}
img {
	border-width: 2px;
 	border-style: solid;
	border-color: #000;
}
